{% assign current_lang = page.lang | default: site.lang %}
{% if current_lang == 'ko' %}
  {% assign ui_text = site.data.ko.ui_text %}
{% else %}
  {% assign ui_text = site.data.en.ui_text %}
{% endif %}

<!-- sidebar -->
<div class="col__sedebar scrolla-element-anim-1 scroll-animate" data-animate="active">
  <div class="content-sidebar">
    <aside class="widget-area">

      <div class="widget widget_block widget_search">
        <form class="search-form wp-block-search" method="GET" action="{{ '/search.html' | relative_url }}">
          <div class="wp-block-search__inside-wrapper">
            <input type="search" class="wp-block-search__input wp-block-search__input" id="search-input" placeholder="{{ ui_text.search }}" value="">
            <button type="submit" class="wp-block-search__button wp-element-button">{{ ui_text.search }}</button>
          </div>
          <ul id="results-container"></ul>
        </form>
      </div>

      {% if site.related_posts.size %}
      <section class="widget widget_block">
        <div class="wp-block-group">
          <div class="wp-block-group__inner-container">
            <h2>{{ ui_text.recent_posts }}</h2>
            <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                {% for post in site.related_posts limit: 4 %}
                <li>
                    <a class="wp-block-latest-posts__post-title" href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      {% endif %}

      {% if site.posts.size %}
      <section class="widget widget_block">
        <div class="wp-block-group">
          <div class="wp-block-group__inner-container">
            <h2>{{ ui_text.latest_posts }}</h2>
            <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                {% assign current_lang = page.lang | default: site.lang %}
                {% assign visible_posts = site.posts | where: "lang", current_lang | limit: 4 %}
                {% for post in visible_posts %}
                <li>
                    <a class="wp-block-latest-posts__post-title" href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      {% endif %}

      <section class="widget widget_block">
        <div class="is-layout-flow wp-block-group">
          <div class="wp-block-group__inner-container">
            <h2>{{ ui_text.categories }}</h2>
            <ul class="wp-block-categories-list wp-block-categories">
              {% assign current_lang = page.lang | default: site.lang %}
              {% if current_lang == 'ko' %}
                {% assign categories = '개발,개념,에러,자유' | split: ',' %}
                {% for category in categories %}
                  {% assign category_posts = site.posts | where: "category", category | where: "lang", current_lang %}
                  <li class="cat-item"><a href="/ko/categories/{{ category }}/">{{ category }}</a> <small>({{ category_posts.size }})</small></li>
                {% endfor %}
              {% else %}
                {% assign categories = 'development,concept,error,free' | split: ',' %}
                {% for category in categories %}
                  {% assign category_posts = site.posts | where: "category", category | where: "lang", current_lang %}
                  <li class="cat-item"><a href="/en/categories/{{ category }}/">{{ category | capitalize }}</a> <small>({{ category_posts.size }})</small></li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </section>



    </aside>
  </div>
</div>
