---
layout: default
---

{% assign current_lang = page.lang | default: site.lang %}
{% if current_lang == 'ko' %}
  {% assign ui_text = site.data.ko.ui_text %}
{% else %}
  {% assign ui_text = site.data.en.ui_text %}
{% endif %}

{% if page.author == nil %}
	{% assign author = site.author %}
{% else %}
	{% assign author = page.author %}
{% endif %}

{% assign blog_url = 'blog/' %}

<!-- Section Started Heading -->
<section class="section section-inner started-heading">
	<div class="container">

		<!-- Heading -->
		<div class="m-titles align-center">
			<div class="m-category scrolla-element-anim-1 scroll-animate" data-animate="active">
				<a href="blog.html">Branding</a>, <a href="blog.html">UI Design</a>
				{% assign cat_size = page.category | size %}
				{% if cat_size != 0 %}
					{% for category in page.category %}
					<a href="{{ '/categories' | relative_url }}/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category }}</a>{% if page.category.last != category and page.category.last != nil %},{% endif %}
					{% endfor %}
				{% endif %}
				/ {{ page.date | date: site.date_format }} / {{ ui_text.by }} <span class="author">{{ author }}</span>
			</div>
			<h1 class="m-title scrolla-element-anim-1 scroll-animate" data-animate="active">
				{{ page.title }}
			</h1>
		</div>

	</div>
</section>

<!-- Single Post Image -->
{% assign has_full_image = false %}
{% if page.full_image != nil and page.full_image != '' %}
	{% assign has_full_image = true %}
{% endif %}
{% assign has_image = false %}
{% if page.image != nil and page.image != '' %}
	{% assign has_image = true %}
{% endif %}
{% if has_full_image or has_image %}
<div class="section section-inner m-image-large">
	<div class="container">
		<div class="v-line-right v-line-top"><div class="v-line-block"><span></span></div></div>
	</div>
	<div class="image">
		{% if has_full_image %}
		<div class="img scrolla-element-anim-1 scroll-animate" data-animate="active" style="background-image: url({{ page.full_image | relative_url }});"></div>
		{% elsif has_image %}
		<div class="img scrolla-element-anim-1 scroll-animate" data-animate="active" style="background-image: url({{ page.image | relative_url }});"></div>
		{% endif %}
	</div>
</div>
{% endif %}

<!-- Section - Blog -->
<section class="section section-inner m-archive">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-1">

				<!-- content -->
				<div class="description">
					<div class="post-content scrolla-element-anim-1 scroll-animate" data-animate="active">
						{{ page.content }}
					</div>
				</div>

			</div>
		</div>

		<div class="v-line-left v-line-top"><div class="v-line-block"><span></span></div></div>

		<!-- Blog Navigation -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-1">
				<div class="blog-navigation scrolla-element-anim-1 scroll-animate" data-animate="active">
					<div class="nav-links">
						{% assign current_lang = page.lang | default: site.lang %}
						{% if current_lang == 'ko' %}
							<a href="/ko/blog/" class="nav-link">
								<i class="fa fa-arrow-left"></i> 블로그 목록으로
							</a>
							{% if page.category %}
								{% assign category = page.category %}
								<a href="/ko/categories/{{ category }}/" class="nav-link">
									{{ category }} 카테고리로 <i class="fa fa-arrow-right"></i>
								</a>
							{% endif %}
						{% else %}
							<a href="/en/blog/" class="nav-link">
								<i class="fa fa-arrow-left"></i> Back to Blog
							</a>
							{% if page.category %}
								{% assign category = page.category %}
								<a href="/en/categories/{{ category }}/" class="nav-link">
									{{ category | capitalize }} Category <i class="fa fa-arrow-right"></i>
								</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</div>
</section>


